<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to Result</h1>
    <h4>note that weather report updates every 15 minutes
    </h4>

    <h3>The result is as follow</h3>
    place: <%= place %> <br><br>
        Reading time: <%=time %> <br><br>
            Temperature: <%=temp %> celcius<br><br>
                Humidity: <%=humi %> %<br><br>
                    Dew point: <%=dew %> celcius<br><br>
                        Wind Speed: <%=wind %> km/hr<br><br>
                            apperant Temperature: <%=aptemp %> celcius<br><br>
                                Surface Pressure: <%=pressure %> hpa<br><br>
                                    <form action="/" method="GET">
                                        <button type="submit">Go Back</button>
                                    </form>
</body>

</html>